td{
  height:150px;
  width:150px;
  text-align: center;
  border: 5px solid #068df4;
  font-size: 100px;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/012/925/266/non_2x/white-crumpled-paper-abstract-background-texture-photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}